<h1 class="animated fadeIn fast">Acerca de la App de héroes</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt omnis similique minus ex cupiditate perspiciatis explicabo qui amet architecto deserunt, ut excepturi, perferendis est nisi maiores accusantium modi dicta tempore! Nihil aliquid officiis itaque
    deserunt, provident molestiae dolor tempore temporibus, doloribus minima fugit labore voluptatum, iusto voluptate. Mollitia eaque, quae, non consectetur voluptate nobis ipsam exercitationem earum quisquam et neque? Rerum ratione voluptatem maxime
    facilis quod soluta voluptates! Aspernatur alias ipsam error perferendis sunt nemo dolores dolorem dicta est vero ratione, suscipit consequatur, eligendi obcaecati nostrum earum? Quaerat, sit facere? Nulla accusantium, iusto officia nihil veritatis
    atque cupiditate, maiores quisquam ipsa vitae rem amet esse quo perferendis. Quos sunt voluptatem, eius beatae amet numquam labore nobis perspiciatis obcaecati at! Hic! Nulla harum sunt enim ea recusandae alias omnis magnam quod, beatae ipsam, qui
    quidem deleniti pariatur expedita cum similique excepturi, assumenda vitae animi eveniet. Fuga minus accusamus libero facere enim.
</p>